body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar1 {
    background-image: url(../img/ladrillos-blancos-navbar.png);
    background-size: cover;
    width: 100vw;
}
.logo-navbar1:hover {
    transform: scale(1.2);
    transition: 2s;
}
.nav-item-navbar1 {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1.5s;
    border-radius: 100%;
}
.nav-item-navbar1:hover {
    transition: 1.5s;
    transform: scale(1.2);
}
.img-fluid1 {
    margin: auto;
    width: 17em;
}
.plato {
    height: 15em
}

/* INDEX STYLES */

.logo-plato {
    height: 80vh;
}
.presentacion-img:hover {
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);
}
.background-index {
    background-image: url(../img/fondo-index.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.info-text {
    font-size: 1.3em;
    font-weight: 600;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.letrasinefecto{
    text-decoration: none;
}