body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.navbar {
    background-image: url(../img/ladrillos-blancos-navbar.png);
    background-size: cover;
    height: 5em;
    width: 100vw;
}
.logo-navbar:hover {
    transform: scale(1.2);
    transition: 2s;
}
.nav-item-navbar {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: none !important;
    transition: 1.5s;
    border-radius: 100%;
}
.nav-item-navbar:hover {
    transition: 1.5s;
    transform: scale(1.2);
    border-radius: 45% 45% 45% 45%;
}
.img-fluid {
    margin: auto;
    width: 17em;
}
.queso {
    height: 15em
}